*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive; 
}

h1 {
    font-size: 4rem;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    height: 15rem;
}
body {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0.8rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: 1rem;
    padding: 1rem;
}

.grid-item {
    width:100%;
    height: 100%;
    position: relative;
}

.grid-item img {
    width:100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(0.5) grayscale(1);
    transition: all ease 0.8s;
}

.grid-item img:hover {
    filter: none;
    transform: scale(1.04);
}

